<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/pawlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/pawlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.PawPal"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".features.auth.LandingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".features.auth.LoginActivity" />
        <activity android:name=".features.auth.RegisterActivity" />
        <activity android:name=".features.auth.DashboardActivity" />
        <activity android:name=".features.auth.GoogleAuthActivity" />

        <activity android:name=".features.adoption.AdopterDashboardActivity" />
        <activity android:name=".features.pets.OwnerDashboardActivity" />
        <activity android:name=".features.admin.AdminDashboardActivity" />
        <activity android:name=".features.adoption.PetDetailActivity" />
        <activity android:name=".features.adoption.AdoptionRequestActivity" />
        <activity android:name=".features.adoption.MyRequestsActivity" />
        <activity android:name=".features.adoption.RequestAcceptedActivity" />
        <activity android:name=".features.auth.ProfileActivity" />
        <activity android:name=".features.pets.PostPetActivity" />
        <activity android:name=".features.pets.EditPetActivity" />
        <activity android:name=".features.pets.ViewRequestsActivity" />
        <activity android:name=".features.pets.OwnerProfileActivity" />
        <activity android:name=".features.verification.VerificationActivity" />
        <activity android:name=".features.verification.VerificationStatusActivity" />
        <activity android:name=".features.admin.ReportDetailsActivity" />
    </application>

</manifest>